/* ACCUEIL */
.accueil {
  margin: 2rem auto;
}

.description {
  border-left: 5px solid #f3a327;
  border-right: 5px solid #f3a327;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
  box-sizing: border-box;

  background-color: rgba(248, 249, 250, 0.05);
}
.description p {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.6rem;
}
.bloc-1 {
  display: flex;
  flex-direction: column;
}
.bloc-1 h2 {
  font-weight: 300;
  text-transform: uppercase;
  margin: 3rem 0;
}
.bloc-1 img {
  width: 20rem;
}

.home {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
}
.home h2 {
  letter-spacing: -1px;
}

/* CITATION */
.citation {
  width: 100%;
  max-width: 90rem;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.citation p {
  font-size: 1.6rem;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}

/* ASIDE */
.aside {
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
  padding-left: 3rem;
  width: 100%;
  max-width: 25rem;
  border-left: 2px solid #f3a327;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  position: relative;
}
.aside ul {
  line-height: 2;
  padding-left: 2rem;
  list-style: square;
  font-size: 1.4rem;
}
.aside a {
  transition: 0.3s;
  color: #c2821f;
  font-weight: 700;
}
.aside h3 {
  font-size: 1.6rem;
  padding: 5px 10px;
  margin-bottom: 1rem;
  text-align: center;
  color: #212529;
  background-color: #f3a327;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.aside a:hover {
  text-decoration: underline;
  letter-spacing: 0.3px;
}

.aside-bloc3 ul {
  line-height: 1.5;
}
.aside-bloc3 ul li {
  margin-bottom: 1rem;
}
.aside-bloc3 span {
  font-weight: 500;
  color: #c2821f;
}

/* DARK MODE */
.dark-mode {
  background-color: rgba(33, 37, 41, 0.97);
  color: #f8f9fa !important;
}
#darkmode {
  transition-property: color, background;
  transition-duration: 0.3s;
}
.btn-dark {
  background-color: #212529;
  border: 2px solid #212529;
  color: #f3a327;
  font-size: 1.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  transition: 0.3s;
}
.btn-dark:hover,
.btn-dark:visited {
  background-color: #f3a327;
  color: #212529;
  cursor: pointer;
}
.btn-dark:hover ion-icon {
  transform: rotate(360deg);
}

.divider {
  background-color: #000;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
}

.spoiler-alert {
  background-color: #c92a2a;
  border: 3px solid #c92a2a;
  font-weight: 500;
  font-size: 1.6rem;
  color: #f8f9fa;
  text-align: center;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5px 0;
  box-sizing: border-box;

  transition: 0.3s;
}
.spoiler-alert:hover {
  background-color: #f8f9fa;
  color: #c92a2a;
}
.spoiler-alert span {
  font-size: 1.8rem;
  text-transform: uppercase;
}

// CAROUSEL

$animationSpeed: 50s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-240px * 11));
  }
}

// Styling
.slider-header {
  margin: 0 auto;
}
.slider {
  height: 36.4rem;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 5rem;

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(240px * 13);
  }

  .slide {
    height: auto;
    width: 240px;
    margin-left: 2rem;
  }
}

// EVENTS
.events {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.current-event {
  font-size: 1.6rem;
  border-left: 5px solid #f3a327;
  border-right: 5px solid #f3a327;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  background-color: rgba(248, 249, 250, 0.05);

  padding: 2rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 90rem;
  box-sizing: border-box;
}
.current-event .chapter {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}
