@media (max-width: 90.625rem) {
  :root {
    --carousel-width: 70rem;
    /* --carousel-height: 16vh; */
    --carousel-elements-displayed: 3;
  }
  .navbar,
  .main-page,
  .sticky .navbar,
  footer {
    max-width: 110rem;
  }

  .main-container,
  .home,
  .description,
  .spoiler-alert,
  .main-container h3,
  .citation,
  .slider,
  .panels,
  .events,
  .current-event {
    max-width: 70rem;
  }
  .navbar {
    gap: 20rem;
  }
  .tablink {
    max-width: 16rem;
  }
  .pirates-1 {
    height: 45rem;
  }
  .pirates-2 {
    height: 60rem;
  }
  .pirates-3 {
    height: 85rem;
  }
  .pirates-4 {
    height: 45rem;
  }
  .pirates-5-1 {
    height: 50rem;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-240px * 12.5));
    }
  }
}

@media (max-width: 72rem) {
  .main-page {
    border-bottom: 5px solid #f3a327;
  }
  .navbar {
    gap: 1rem;
  }
  .nav {
    gap: 1rem;
  }
  .logo-header {
    display: none;
  }
  .main-page {
    flex-direction: column;
  }

  .btn-dark {
    top: 100%;
    right: 46%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .sticky .btn-dark {
    top: 40%;
    right: 0%;
    transform: translate(-50%, -30%);
    transition: 0.3s;
  }
  .dropdown-content {
    width: 10rem;
  }
  .dropdown-content--wider {
    width: 13rem;
  }

  .home {
    flex-direction: column;
    gap: 0;
  }
  .bloc-1 h2 {
    margin: 0 auto;
  }
  .bloc-1 img {
    width: 30rem;
  }

  .galery-panels--selected {
    gap: 1rem;
  }
  .galery-panels {
    height: 55rem;
  }

  .aside {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 2rem;
    border-left: none;
    border-top: 2px solid #f3a327;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }
  audio {
    margin: 0 auto;
    max-width: none;
  }

  .aside ul {
    line-height: 1.55;
    padding-left: 0;
    padding: 1rem;
    list-style: square;
    font-size: 1.4rem;
    text-align: center;
    list-style: none;
  }

  .aside figure {
    background-color: #212529;
    padding-bottom: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  footer {
    flex-direction: column;
    gap: 5rem;
    align-items: center;
  }
}

@media (max-width: 60rem) {
  .tablink {
    margin-top: 2rem;
  }
  .button-nav {
    max-width: 80rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto;
  }
  .button-nav--lieux {
    grid-template-columns: repeat(3, 1fr);
  }
  .header-crew {
    margin: 3rem 0 0 0;
  }

  .grid--2-cols {
    grid-template-columns: 2fr;
    column-gap: 3.5rem;
  }
  .no-margin-top {
    margin-top: 0;
  }
  .fruits-card {
    width: 30rem;
    justify-self: center;
    margin: 3rem 0;
  }

  .show-only-query {
    display: inline;
  }
  .fruits-text-2 {
    display: none;
  }
}

@media (max-width: 45rem) {
  .pirates-1 {
    height: 40rem;
  }
  .galery img:hover {
    width: 10rem;
  }
  .pirates-5-1 {
    height: 50rem;
  }
  .revol-2 {
    height: 35rem;
    justify-content: center;
  }
  .corsaires-1 {
    height: 30rem;
  }
  .tab-lieux {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  .info-historique--text {
    font-size: 1.6rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    margin-top: 2rem;

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .lieux-card {
    justify-self: center;
    align-self: center;
    grid-row: 3 / 4;
  }
  .grid-row--2-3 {
    grid-row: 2 / 3;
  }

  #img01 {
    max-height: 70vh;
    max-width: 80vh;
  }
}

@media (max-width: 37rem) {
  .btn-dark {
    top: 100%;
    right: 40%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  .galery-panels {
    height: 40rem;
  }
  .galery {
    gap: 3rem;
  }
  .pirates-1 {
    height: 60rem;
  }
  .pirates-2 {
    height: 75rem;
  }
  .pirates-3 {
    height: 95rem;
  }
  .pirates-5-2 {
    height: 25rem;
  }
  .pirates-4 {
    height: 60rem;
  }
  .pirates-6 {
    height: 40rem;
  }
  .revol-2 {
    height: 50rem;
  }
  .corsaires-2 {
    height: 30rem;
  }
  .bloc-img {
    margin-bottom: 2rem;
  }

  td {
    width: 80px;
    height: 80px;
  }
  .hidden-img {
    width: 80px;
    height: 80px;
  }
  .table-paramecia,
  .table-zoan,
  .table-logia {
    margin-top: 5rem;
  }
  .table-paramecia {
    margin-top: 6rem;
  }
  th a,
  th p {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.17;
    overflow-wrap: break-word;
  }
  th {
    max-width: 6rem;
  }
  .lieux-galery-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  .grid-col-2 {
    grid-column: 2 / 3;
  }
  .grid-col-3 {
    grid-column: 3 / 4;
  }
  .galery-title {
    grid-column: 1 / 5;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-240px * 13));
    }
  }

  #img01 {
    max-height: 70vh;
    max-width: 65vh;
  }
}

@media (max-width: 35.7rem) {
  .table-paramecia,
  .table-zoan,
  .table-logia {
    margin-top: 7.5rem;
  }
}

@media (max-width: 29rem) {
  html {
    font-size: 55%;
  }
  .nav {
    gap: 1rem;
  }
  .dropdown-content {
    width: 8.5rem;
  }
  .dropdown-content--wider {
    width: 12rem;
  }
  .dropdown-content a {
    padding: 2px;
  }
  .sticky .dropdown-content {
    margin-top: 18px;
    background-color: rgba(243, 161, 39, 0.9);
  }
  .marines-1 {
    height: 30rem;
  }
  .marines-2 {
    height: 30rem;
  }
  .marines-3 {
    height: 30rem;
  }
  .corsaires-1 {
    height: 50rem;
  }
  .table-paramecia,
  .table-zoan,
  .table-logia {
    margin-top: 7rem;
  }
  #img01 {
    max-height: 70vh;
    max-width: 55vh;
  }
  .carousel {
    height: 300px;
  }
}

@media (max-width: 27rem) {
  .nav {
    gap: 0rem;
  }
  .sticky .btn-dark {
    top: 100%;
    right: 40%;
    transform: translate(-50%, -30%);
    transition: 0.3s;
  }
  .dropdown-content {
    width: 8rem;
  }
  .dropdown-content--wider {
    width: 12rem;
  }
  .galery-panels {
    height: 35rem;
  }
  .galery {
    gap: 3rem;
  }
  .pirates-1 {
    height: 75rem;
  }
  .pirates-2 {
    height: 110rem;
  }
  .pirates-3 {
    height: 150rem;
  }
  .pirates-5-1 {
    height: 80rem;
  }
  .pirates-5-2 {
    height: 25rem;
  }
  .pirates-4 {
    height: 95rem;
  }
  .pirates-6 {
    height: 60rem;
  }
  .revol-2 {
    height: 65rem;
  }
  .bloc-img {
    margin-bottom: 2rem;
  }
  td {
    width: 60px;
    height: 60px;
  }
  .hidden-img {
    width: 60px;
    height: 60px;
  }
  #img01 {
    max-height: 70vh;
    max-width: 50vh;
  }
}

@media (max-width: 27rem) {
  #img01 {
    max-height: 60vh;
    max-width: 40vh;
  }
}
