/* *************** */
/* BUTTON UP */
/* *************** */
.btn-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: 10px;
  color: #f3a327;

  font-size: 3.4rem;
  background: none;
  border: none;
  outline: none;
  background-color: #212529;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999;
}
.btn-up:hover,
.btn-up:active {
  color: #4083c3;
}

/* *************** */
/* DROPDOWN BUTTON */
/* *************** */
.dropdown {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.3s;
}

.dropdown .dropbtn {
  font-size: 1.6rem;
  background-color: inherit;
  font-family: "Inter", sans-serif;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
}

.dropbtn:hover {
  background-color: #212529;
  color: #f3a327;
}

.dropdown-content {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  top: 0;
  transform: translateY(5px);
  background-color: #f3a327;
  width: 13rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 33.5px;
  transition: all 0.2s;
}

.dropdown-content a {
  float: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.4rem !important;
  padding: 5px;
  border-radius: 0 !important;
}

.dropdown-content a:hover {
  background-color: #212529;
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  top: 0;
  transform: translateY(2rem);
}
.dropbtn ion-icon {
  transition: transform 0.3s;
}
.dropdown:hover .dropbtn ion-icon {
  transform: rotate(180deg);
}
