.spoiler-alert {
  background-color: #c92a2a;
  border: 3px solid #c92a2a;
  font-weight: 500;
  font-size: 1.6rem;
  color: #f8f9fa;
  text-align: center;
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5px 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.spoiler-alert:hover {
  background-color: #f8f9fa;
  color: #c92a2a;
}

.spoiler-alert span {
  font-size: 1.8rem;
  text-transform: uppercase;
}
