.histoire-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 85rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.histoire-heading {
  font-size: 4.2rem;
  font-weight: 300;
}
.histoire-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
}
