/* CHARACTERS PAGE */
.personnages-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 85rem;
  margin: 0 auto;
  margin-top: 3rem;
}
.personnages-heading {
  font-size: 4.2rem;
  font-weight: 300;
}
.personnages-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
}
.personnages-text a {
  color: #c2821f;
  transition: all 0.2s;
}
.personnages-text a:hover {
  color: #f3a327;
  text-decoration: underline;
}
.header-crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

.header-crew a {
  background-color: #f3a327;
  color: #212529;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 5px;
  width: 25rem;
  text-align: center;
}
.header-crew a:hover {
  text-decoration: underline;
}

.header-crew img {
  width: 10rem;
}
.header-crew p {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.galery {
  max-width: 90rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.galery img {
  width: 10rem;
  border-radius: 50%;
  transition: all 0.3s;
  overflow: hidden;
}
.galery img:hover {
  width: 13rem;
}

.pirates-1 {
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.pirates-2 {
  height: 50rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.pirates-3 {
  height: 50rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.pirates-3 p {
  font-size: 1.05rem !important;
}
.pirates-4 {
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.pirates-5 {
  height: 12rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.pirates-5-1 {
  height: 35rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.pirates-5-1 p {
  font-size: 1.05rem !important;
}

.teach-heading {
  font-size: 1.4rem;
  border-bottom: 2px solid;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 2px;
}
.kurohige {
  margin-bottom: 3rem;
}

.pirates-5-2 {
  height: 12rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.pirates-5-3 {
  height: 12rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.pirates-6 {
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.marines-1 {
  height: 13rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.marines-2 {
  height: 13rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.marines-3 {
  height: 13rem;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.revol-1 {
  height: 15rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.revol-2 {
  height: 35rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0;
}

.corsaires-1 {
  height: 28rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.corsaires-2 {
  height: 15rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.corsaires-3 {
  height: 15rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.corsaires-4 {
  height: 15rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.bloc-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 12rem;
  height: 12rem;
}

.bloc-img a,
.bloc-img p {
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.5s;
  color: #c2821f;
}
.bloc-img a:hover {
  text-decoration: underline;
}

.ext-link {
  display: flex;
  align-items: center;
  width: 1.4rem;
  fill: #212529;
  margin-left: 5px;
  transition: 0.3s;
}
.ext-link:hover {
  fill: #f8f9fa;
}
